/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
    --color-migala-light: #ebe9fc;
    --color-migala: #918be5;
    --color-migala-dark: #766fd1;
}